<article class="product-card">
  <div class="product-card-header text-center">
    <h3>{{ currentProduct.title }}</h3>
  </div>
  <div class="product-card-content row">
    <div class="col-6">
      <img [src]="currentProduct.imageUrl" [alt]="currentProduct.title">
    </div>
    <div class="col-6">
      <p class="no-margin margin-bt-1">{{ currentProduct.description }}</p>
      <label class="product-price">{{ currentProduct.price | price }}</label>
    </div>
  </div>
  <lib-button label="Add to Cart" icon="cart-plus" (clicked)="select()" classes="button-block button-add-cart"></lib-button>
</article>