@mixin display-flex() {
  display: -webkit-flex;
  display: flex;
}

@mixin menu-link() {
  @include display-flex();
  flex-direction: column;
  display: flex;
  text-decoration: none;
  background: transparent;
  color: #575757;
  text-transform: uppercase;
  padding: 22px 18px;
  font: 14px 'Open Sans', sans-serif;

  &:hover {
    color: #46C164;
  }
}