<div class="container">
  <div class="row text-bold mg-bt-1">
    <div class="col-4">Título</div>
    <div class="col-2">Preço</div>
    <div class="col-2">Quantidade</div>
    <div class="col-2">Subtotal</div>
    <div class="col-2"></div>
  </div>
  <app-cart-row *ngFor="let item of cartItems" [cartItem]="item"></app-cart-row>
  <div class="row text-bold mg-tp-1">
    <div class="col-6 text-right">Total:</div>
    <div class="col-2 count-total">{{ getCountTotal() }}</div>
    <div class="col-2 price-total">{{ getPriceTotal() | price }}</div>
  </div>
</div>