.text-bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.mg-bt-1 {
  margin-bottom: 1rem;
}

.mg-tp-1 {
  margin-top: 1rem;
}

.pd-bt-01 {
  padding-bottom: 0.1rem;
}

.border-bottom {
  border-bottom: 1px solid #000;
}

@media (max-width: 576px) {
  .hidden-sm {
    display: none;
  }
}